<% host = request.protocol + request.host_with_port %>
<div class="api">
	<h1>The Cricdata API</h1>

	<p>Welcome to Cricdata</p>


	<table>
		<tbody>
			<tr class="title">
				<td colspan="2"><h3>Player - career summary</h3></td>
			</tr>

			<tr>
				<td>
					<p><code><%= host %>/players/&lt;slug&gt;<span class="optional">[.json]</span></code></p>
					<p>Examples:</p>
					<p><a href="<%= host %>/players/fred"><code class="example"><%= host %>/players/fred</code></a> - All Freds</p>
					<p><a href="<%= host %>/players/fred.json"><code class="example"><%= host %>/players/fred.json</code></a> - All Freds, returned as JSON data.</p>
					<p><a href="<%= host %>/players/titmus"><code class="example"><%= host %>/players/titmus</code></a> - All Titmusses, but there's only one so it shows Fred Titmus</p>
					<p><a href="<%= host %>/players/fred-titmus"><code class="example"><%= host %>/players/fred-titmus</code></a> - Fred Titmus</p>
					<p><a href="<%= host %>/players/fj-titmus"><code class="example"><%= host %>/players/fj-titmus</code></a> - Fred Titmus</p>
				</td>

				<td>
					<p>If <code>slug</code> matches one player only then the player's career summary is shown.
					This includes all the match formats he or she played international cricket in.</p>
					<p>If <code>slug</code> matches more than one player then a disambiguation page is shown.</p>
				</td>
			</tr>

			<tr class="title">
				<td colspan="2"><h3>Player list - X-factor</h3></td>
			</tr>

			<tr>
				<td>
					<p><code><%= host %>/&lt;format&gt;/players/xfactor<span class="optional">[.json]</span></code></p>
					<p>Examples:</p>
					<p><a href="<%= host %>/test/players/xfactor"><code class="example"><%= host %>/test/players/xfactor</code></a></p>
					<p><a href="<%= host %>/odi/players/xfactor"><code class="example"><%= host %>/odi/players/xfactor</code></a></p>
					<p><a href="<%= host %>/t20i/players/xfactor"><code class="example"><%= host %>/t20i/players/xfactor</code></a></p>
				</td>
				<td>
					<p><code>format</code> is one of <code class="example">test</code>, <code class="example">odi</code> or <code class="example">t20i</code> </p>
					<p>This will show the current X-factor table for the specified match format</p>
					<p>X-factor is an arbitrary measure of the player's value as an all-rounder. The algorithm
					for generating the X-factor varies from format to format, reflecting the different contributions
					an all-rounder can make in each format.</p>
					<p>For test matches, the X-factor supposes that an all-rounder ought to have a batting average over
					30 and a bowling average under 35. Given these qualifying criteria (along with a minimum of 500 runs
					and 50 wickets) then the X-factor is simply the player's batting average in excess of 30, plus his
					or her bowling average under 35, plus the player's outfield catches per match. Simple, but effective.</p>
					<p>For limited-overs cricket, the X-factor tries to take into account the player's rate of scoring
					with the bat, and economy with the ball. It contrasts two factors:</p>
					<ol>
						<li>runs/100 balls scored when batting minus runs/100 balls conceded when bowling</li>
						<li>balls faced per completed innings when batting minus strikerate when bowling</li>
					</ol>
					<p>To reflect fielding ability, the number of outfield catches per match is added to this score.</p>
					<p>For ODI matches there is a qualification of 500 runs (at an average over 20) and 50 wickets.</p>
					<p>For Twenty20 internationals there is a qualification of 150 runs (at an average over 10) and
					15 wickets.</p>
				</td>
			</tr>
		</tbody>
	</table>

	<h3>Notes</h3>

	<p>The API isn't currently versioned. This doesn't mean it will not change in the future. That's probably bad practice on our part. Sorry.</p>
</div>
