<div class="player">
	<h1><%= @player.fullname %></h1>

<%
@player.match_type_player_ids.sort.each do |mtp_id|
	mtp = MatchTypePlayer.find mtp_id

	case mtp.type_number
	when MatchType::TEST
		match_type_class = 'test'
		match_type_name  = 'Test matches'
	when MatchType::ODI
		match_type_class = 'odi'
		match_type_name	 = 'One-day internationals'
	when MatchType::T20I
		match_type_class = 't20i'
		match_type_name	 = 'Twenty20 internationals'
	end
%>
	<div class="match-type <%= match_type_class %>">
		<table class="overall">
			<caption><%= match_type_name %></caption>

			<tr>
				<th>Matches</th>
				<th>Debut</th>
				<th>Last match</th>
				<th>X-factor</th>
			</tr>

			<tr>
				<td><%= mtp.matchcount %></td>
				<td><%= mtp.firstmatch %></td>
				<td><%= mtp.lastmatch %></td>
				<td><%= format '%.2f', mtp.xfactor unless mtp.xfactor.nil? %></td>
			</tr>
		</table>


		<table class="batting">
			<caption>Batting</caption>

			<tr>
				<th>Inns</th>
				<th>Comp Inns</th>
				<th>Runs</th>
				<th>Mins</th>
				<th>Balls</th>
				<th>4s</th>
				<th>6s</th>
				<th>Ave</th>
				<th>SR</th>
			</tr>

			<tr>
				<td><%= mtp.innings %></td>
				<td><%= mtp.completed %></td>
				<td><%= mtp.runs %></td>
				<td><%= mtp.minutes %></td>
				<td><%= mtp.balls %></td>
				<td><%= mtp.fours %></td>
				<td><%= mtp.sixes %></td>
				<td><%= format '%.2f', mtp.bat_average %></td>
				<td><%= format '%.2f', mtp.bat_strikerate %></td>
			</tr>
		</table>

		<table class="bowling">
			<caption>Bowling</caption>

			<tr>
				<th>Overs</th>
				<th>Maidens</th>
				<th>Runs</th>
				<th>Wickets</th>
				<th>Econ</th>
				<th>Bowl ave</th>
				<th>Bowl SR</th>
			</tr>

			<tr>
				<td><%= mtp.overs_string %></td>
				<td><%= mtp.maidens %></td>
				<td><%= mtp.runsconceded %></td>
				<td><%= mtp.wickets %></td>
				<td><%= format '%.2f', mtp.economy unless mtp.economy.nil? %></td>
				<td><%= format '%.2f', mtp.bowl_average unless mtp.bowl_average.nil? %></td>
				<td><%= format '%.2f', mtp.bowl_strikerate  unless mtp.bowl_strikerate.nil?%></td>
			</tr>
		</table>

		<table class="fielding">
			<caption>Fielding</caption>

			<tr>
				<th>Dismissals</th>
				<th>Stumpings</th>
				<th>Total catches</th>
				<th>Catch wkt</th>
				<th>Catch fld</th>
			</tr>

			<tr>
				<td><%= mtp.dismissals %></td>
				<td><%= mtp.stumpings %></td>
				<td><%= mtp.catches_total %></td>
				<td><%= mtp.catches_wkt %></td>
				<td><%= mtp.catches %></td>
			</tr>
		</table>
	</div>
<% end %>
</div>
