<h1>The world's best all-rounders</h1>

<table class="xfactor">
  <caption>
    <p>Pre- and post-war all-rounders in test matches</p>
    <p>Qualification: 500 runs at better than 30, 50 wickets at better than 35</p>
    <p>X-factor: Batting ave. over 30 + bowling ave. under 35 + catches per match</p>
  </caption>
  
  <tr>
    <th class="name">Player</th>
    <th>Matches</th>
    <th>Runs</th>
    <th>Bat ave</th>
    <th>Wickets</th>
    <th>Bowl ave</th>
    <th>Catches</th>
    <th>X-factor</th>
  </tr>

  <% @players.each do |player| %>
  <tr>
    <td class="name"><%= player.name %></td>
    <td><%= player.matchcount %></td>
    <td><%= player.runs %></td>
    <td><%= format '%.2f', player.bat_average %></td>
    <td><%= player.wickets %></td>
    <td><%= format '%.2f', player.bowl_average %></td>
    <td><%= player.catches %></td>
    <td><%= format '%.2f', player.xfactor %></td>
  </tr>
  <% end %>
</table>
