<p id="notice"><%= notice %></p>

<p>
  <b>Occasion:</b>
  <%= @search.occasion %>
</p>

<p>
  <b>Maxpage:</b>
  <%= @search.maxpage %>
</p>

<p>
  <b>Games:</b>
  <%= @search.games %>
</p>


<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>
