<table class="test overall">
	<caption>
		<p>Test matches</p>
	</caption>

	<tr>
		<th>Matches</th>
		<th>Debut</th>
		<th>Last match</th>
		<th>X-factor</th>
	</tr>

	<tr>
		<td><%= mtp.matchcount %></td>
		<td><%= mtp.firstmatch %></td>
		<td><%= mtp.lastmatch %></td>
		<td><%= format '%.2f', mtp.xfactor %></td>
	</tr>
</table>


<table class="test batting">
	<caption>
		<p>Test matches - batting</p>
	</caption>

	<tr>
		<th>Inns</th>
		<th>Comp Inns</th>
		<th>Runs</th>
		<th>Mins</th>
		<th>Balls</th>
		<th>4s</th>
		<th>6s</th>
		<th>Ave</th>
		<th>SR</th>
	</tr>

	<tr>
		<td><%= mtp.innings %></td>
		<td><%= mtp.completed %></td>
		<td><%= mtp.runs %></td>
		<td><%= mtp.mins %></td>
		<td><%= mtp.balls %></td>
		<td><%= mtp.fours %></td>
		<td><%= mtp.sixes %></td>
		<td><%= format '%.2f', mtp.bat_average %></td>
		<td><%= format '%.2f', mtp.bat_strikerate %></td>
	</tr>
</table>

<table class="test bowling">
	<caption>
		<p>Test matches - bowling</p>
	</caption>

	<tr>
		<th>Overs</th>
		<th>Maidens</th>
		<th>Runs</th>
		<th>Wickets</th>
		<th>Econ</th>
		<th>Bowl ave</th>
		<th>Bowl SR</th>
	</tr>

	<tr>
		<td><%= mtp.overs_string %></td>
		<td><%= mtp.maidens %></td>
		<td><%= mtp.runsconceded %></td>
		<td><%= mtp.wickets %></td>
		<td><%= format '%.2f', mtp.economy %></td>
		<td><%= format '%.2f', mtp.bowl_average %></td>
		<td><%= format '%.2f', mtp.bowl_strikerate %></td>
	</tr>
</table>

<table class="test fielding">
	<caption>
		<p>Test matches - bowling</p>
	</caption>

	<tr>
		<th>Dismissals</th>
		<th>Stumpings</th>
		<th>Total catches</th>
		<th>Catch wkt</th>
		<th>Catch fld</th>
	</tr>

	<tr>
		<td><%= mtp.dismissals %></td>
		<td><%= mtp.stumpings %></td>
		<td><%= mtp.catches_total %></td>
		<td><%= mtp.catches_wkt %></td>
		<td><%= mtp.catches %></td>
	</tr>
</table>
