<h1>The world's best all-rounders - <%= @rubric[:title] %></h1>

<table class="xfactor">
  <caption>
    <p><%= @rubric[:clarification] %></p>
    <p><%= @rubric[:qualification] %></p>
    <p><%= @rubric[:xfactor] %></p>
  </caption>

  <tr>
    <th class="name">Player</th>
    <th>Matches</th>
    <th>Comp Inns</th>
    <th>Balls</th>
    <th>Runs</th>
    <th>Bat ave</th>
    <th>Bat SR</th>
    <th>Wickets</th>
    <th>Bowl ave</th>
    <th>Bowl SR</th>
    <th>Econ</th>
    <th>Catches</th>
    <th>X-factor</th>
  </tr>

  <% @mtps.each do |mtp| %>
  <tr>
    <td class="name"><%= link_to mtp.fullname, mtp %></td>
    <td><%= mtp.matchcount %></td>
    <td><%= mtp.completed %></td>
    <td><%= mtp.balls %></td>
    <td><%= mtp.runs %></td>
    <td><%= format '%.2f', mtp.bat_average %></td>
    <td><%= format '%.2f', mtp.bat_strikerate %></td>
    <td><%= mtp.wickets %></td>
    <td><%= format '%.2f', mtp.bowl_average %></td>
    <td><%= format '%.2f', mtp.bowl_strikerate %></td>
    <td><%= format '%.2f', mtp.economy %></td>
    <td><%= mtp.catches %></td>
    <td><%= format '%.2f', mtp.xfactor %></td>
  </tr>
  <% end %>
</table>
