<h1>The world's best all-rounders</h1>

<table class="xfactor">
  <caption>
    <p>Post-war all-rounders in test matches</p>
    <p>Qualification: 500 runs at better than 30, 50 wickets at better than 35</p>
    <p>X-factor: Batting ave. over 30 + bowling ave. under 35 + catches per match</p>
  </caption>

  <tr>
    <th class="name">Player</th>
    <th>Matches</th>
    <th>Runs</th>
    <th>Bat ave</th>
    <th>Wickets</th>
    <th>Bowl ave</th>
    <th>Catches</th>
    <th>X-factor</th>
  </tr>

  <% @mtps.each do |mtp| %>
  <tr>
    <td class="name"><%= link_to mtp.fullname, mtp %></td>
    <td><%= mtp.matchcount %></td>
    <td><%= mtp.runs %></td>
    <td><%= format '%.2f', mtp.bat_average %></td>
    <td><%= mtp.wickets %></td>
    <td><%= format '%.2f', mtp.bowl_average %></td>
    <td><%= mtp.catches %></td>
    <td><%= format '%.2f', mtp.xfactor %></td>
  </tr>
  <% end %>
</table>
